In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv') #첫번째줄이 헤더로 각 column 카테고리들을 통칭 
iphone_df

iphone_df1 = pd.read_csv('iphone.csv',index_col = 0) #0번째 인덱스의 column을 각 행의 첫번째 값으로 만들어줌
iphone_df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

#df.loc[ ] 은 행을 
#df[ ] 은 열을

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv',index_col = 0 ) #이렇게 행에 첫번째 값이 들어와야 loc 작동 가능 
iphone_df.loc['iPhone 8','메모리'] #특정 데이터 값을 load -> 숫자일때는 '' 안붙힌다. 중요 !!!

'2GB'

In [ ]:
iphone_df.loc['iPhone X',:] #특정 데이터의 열을 모두 load

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [ ]:
iphone_df.loc['iPhone X'] #특정 데이터의 값을 모두 load

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [ ]:
iphone_df.loc[['iPhone X','iPhone 8']] # 두 행을 가지고 오려면 리스트 두개

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [ ]:
type(iphone_df.loc[['iPhone X','iPhone 8']]) #series 는 1차원 , DataFrame 은 2차원

pandas.core.frame.DataFrame

In [ ]:
iphone_df.loc['iPhone 8':'iPhone XS'] #슬라이싱 -> 행

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc[:,'출시일'] #[행, 열] -> 출시일이라고 적혀있는 모든 행들에 대해서 가져옴

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [ ]:
iphone_df['출시일'] # 출시일에 관한 모든 데이터 load + 타입도 출력

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [ ]:
iphone_df[['Face ID','출시일','메모리']] # 출시일과 메모리에 대한 데이터 뽑아오기

              Face ID         출시일  메모리
iPhone 7           No  2016-09-16  2GB
iPhone 7 Plus      No  2016-09-16  3GB
iPhone 8           No  2017-09-22  2GB
iPhone 8 Plus      No  2017-09-22  3GB
iPhone X          Yes  2017-11-03  3GB
iPhone XS         Yes  2018-09-21  4GB
iPhone XS Max     Yes  2018-09-21  4GB

In [ ]:
import pandas as pd

samsong_df = pd.read_csv('samsong.csv') #pd.read_csv 로 데이터를 불러온 후 
hyundee_df = pd.read_csv('hyundee.csv')

# 두개의 csv 로부터 값을 짜집기 
list_df = pd.DataFrame({
    'day' : samsong_df['요일'], # samsong_df의 요일을 load 해서 day 란에 붙혀놓음 
    'samsong':samsong_df['문화생활비'],
    'hyundee': hyundee_df['문화생활비']
})
list_df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

In [ ]:
iphone_df.loc[:,'메모리':'Face ID'] # 모든 row 로부터 메모리 부터 Face ID 까지 불러옴 -> 얘만 column 불러오는데 loc 써야됨 !!!

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc['iPhone 7':'iPhone X','메모리':'Face ID'] #행과 열 둘다 슬라이싱

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes

In [ ]:
iphone_df.loc[[True,False,True,True,False,True,False]] #True 애들만 가져옴

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc[[True,False,False,True]] #8개 중 4개만 가져옴 -> 뒤에 애들은 False 취급 (여기선 안됨)

In [ ]:
iphone_df.loc[:,[True,False,False,True,False]] #모든 행에 대해서 열 중 True 애들인 출시일 과 출시버젼만 가져옴

                      출시일     출시 버전
iPhone 7       2016-09-16  iOS 10.0
iPhone 7 Plus  2016-09-16  iOS 10.0
iPhone 8       2017-09-22  iOS 11.0
iPhone 8 Plus  2017-09-22  iOS 11.0
iPhone X       2017-11-03  iOS 11.1
iPhone XS      2018-09-21  iOS 12.0
iPhone XS Max  2018-09-21  iOS 12.0

In [ ]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [ ]:
iphone_df.loc[iphone_df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [ ]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes'] #Face ID가 YES 인 애들만 가져옴

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df[iphone_df['Face ID'] == 'Yes'] #둘다 된다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
(iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes')

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [ ]:
condition = (iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes') # 둘다 만족// |도 가능 (or)

In [ ]:
iphone_df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
import pandas as pd

df = pd.read_csv('broadcast.csv', index_col=0)
# 코드를 작성하세요.
condition = df['KBS'] > 30
df.loc[condition,'KBS'] # 조건 + 원하는 인덱싱 -> df.loc[조건, '카테고리']

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [ ]:
import pandas as pd

df = pd.read_csv('broadcast.csv', index_col = 0)
condition = df['SBS'] < df['TV CHOSUN']
df.loc[condition,['SBS','TV CHOSUN']] # 조건 + 두개 카테고리 나오게 하기 -> 두개 카테고리 나오게 하기 는 [['카1','카2']]

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886

In [ ]:
iphone_df.loc['iPhone 8','메모리']

'2GB'

In [ ]:
iphone_df.loc['iPhone 8','메모리'] = '2.5GB' #값 변경

In [ ]:
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc['iPhone 8','출시 버전'] = 'iOS 10.3' 
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc['iPhone 8'] = ['2016-09-22','4.7','2GB','iOS 11.0','No'] # row 한 열 싹다 바꾸기 
iphone_df.loc['iPhone 8']

출시일        2016-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [ ]:
iphone_df['디스플레이']

iPhone 7         4.7
iPhone 7 Plus    5.5
iPhone 8         4.7
iPhone 8 Plus    5.5
iPhone X         5.8
iPhone XS        5.8
iPhone XS Max    6.5
Name: 디스플레이, dtype: object

In [ ]:
iphone_df['디스플레이'] = ['4.7 in','5.5 in','4.7 in','5.5 in','5.8 in','5.8 in','6.5 in']
iphone_df['디스플레이']
iphone_df.loc[:,'디스플레이']

iPhone 7         4.7 in
iPhone 7 Plus    5.5 in
iPhone 8         4.7 in
iPhone 8 Plus    5.5 in
iPhone X         5.8 in
iPhone XS        5.8 in
iPhone XS Max    6.5 in
Name: 디스플레이, dtype: object

In [ ]:
iphone_df['Face ID'] = 'Yes' #모든 값을 똑같게 변경 
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0     Yes
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0     Yes
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [ ]:
iphone_df[['디스플레이','Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [ ]:
iphone_df.loc[['iPhone 7','iPhone X']] = 'o' #row의 모든 값 변경 
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [ ]:
iphone_df.loc['iPhone 7': 'iPhone X	'] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

#iphone 데이터셋 리셋

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv',index_col = 0 ) #이렇게 행에 첫번째 값이 들어와야 loc 작동 가능 
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [ ]:
iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     p    p         p       p
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     p    p         p       p
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

In [ ]:
iphone_df.iloc[[1,3],[1,4]] = 'v' #인덱싱으로 값 변경 
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

#기존 DataFrame에 새로운 리스트 추가

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv',index_col = 0 ) #이렇게 행에 첫번째 값이 들어와야 loc 작동 가능 
iphone_df.loc['iPhone XR'] = ['2018-10-26',6.1,'3GB','iOS 12.0.1','Yes'] #iPhone XR 마지막 줄에 추가 
iphone_df

                      출시일  디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

In [ ]:
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일  디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes  Apple

#삭제 drop

In [ ]:
iphone_df.drop('iPhone XR',axis= 'index', inplace=False) # axis = 'index' 행을 건들겠다.inplace=False 기존에 리스트를 변경하지 않겠다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df #기존에 리스트가 변경되지 않은 것을 볼 수 있다.

                      출시일  디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

In [ ]:
iphone_df.drop('iPhone XR', axis='index', inplace= True) # 기존에 리스트를 변경하겠다. (row == index)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.drop("제조사",axis='columns',inplace= True) #columns 삭제 
iphone_df

                      출시일  디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

In [ ]:
# 여러 row 삭제
iphone_df.drop(['iPhone 7','iPhone 8','iPhone X'],axis= 'index', inplace= True)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

각 카테고리 이름들 바꾸기

In [ ]:
import pandas as pd
liverpool_df = pd.read_csv('liverpool.csv', index_col= 0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
liverpool_df.rename(columns= {'position':'Position','born':'Born','number':'Number',
                              'nationality':'Nationality'},inplace=True)
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
liverpool_df.index.name = 'Player Name' #여기서 index는 제일 첫번째 columns 을 의미 Roberto ... 
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
liverpool_df['Player Name'] = liverpool_df.index # player Namer 이라는 columns 를 하나 만들고 거기다가 제일 첫번째 column을 넣음

In [ ]:
liverpool_df

                Position  Born  Number Nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [ ]:
liverpool_df.set_index('Number',inplace=True) #제일 첫번째 column 을 Number 애들 바꿈 
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker

조건문 여러개를 이용한 데이터 값 변경

In [ ]:
import pandas as pd
df = pd.read_csv("toeic.csv")

# LC + RC > 600
pass_total = df['LC'] + df['RC'] > 600
# LC,RC >= 250
pass_both = (df['LC'] >= 250) & (df['RC'] >= 250)
df['합격 여부'] = pass_total & pass_both
df

   Gender   LC   RC  합격 여부
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False

In [ ]:
import pandas as pd 
df = pd.read_csv('Puzzle_before.csv')

# A * 2
df['A'] = df['A'] * 2
# B ~ E < 80 -> 0 각각에 대해서 
df[df.loc[:,'B':'E'] <80] = 0
# B ~ E >= 80 -> 1 
df[df.loc[:,'B':'E']>= 80] = 1
# 2, F 의 값 99로 변경 
df.loc[2,'F'] = 99
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  99
3   8  1  1  0  1  78
4  10  0  1  0  1  61

큰 DataFrame 살펴보기

In [4]:
import pandas as pd

laptops_df = pd.read_csv("laptops.csv")
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [3]:
laptops_df.head(3) #위에 3줄 출력

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN

In [6]:
laptops_df.head(7)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.7,intel,2.0,mac,2.50,NaN
6,Apple,MacBook Pro (TouchBar),16,ssd,512,13.3,158000,intel,i5,2.9,intel,2.0,mac,1.37,NaN

In [7]:
laptops_df.tail(6) # 마지막 6줄

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
161,Asus,X541UA-GO1345D,4,hdd,1024,15.6,27730,intel,i3 6th gen,2.0,intel,NaN,linux,1.84,NaN
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [8]:
laptops_df.shape #167개 모델 15개의 특징

(167, 15)

In [9]:
laptops_df.columns # 특징에 뭐가 있는지

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [10]:
laptops_df.info() #각 cloumns 특징의 갯수들 + 167개 미만 은 값이 비어있는 것을 의미

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               167 non-null    object
 1   model               167 non-null    object
 2   ram                 167 non-null    int64
 3   hd_type             167 non-null    object
 4   hd_size             167 non-null    int64
 5   screen_size         167 non-null    float64
 6   price               167 non-null    int64
 7   processor_brand     167 non-null    object
 8   processor_model     167 non-null    object
 9   clock_speed         166 non-null    float64
 10  graphic_card_brand  163 non-null    object
 11  graphic_card_size   81 non-null     float64
 12  os                  167 non-null    object
 13  weight              160 non-null    float64
 14  comments            55 non-null     object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [12]:
laptops_df.describe() # 각 column 에 대해서 통계정보 (std는 표준편차를 의미 )

,ram,hd_size,screen_size,price,clock_speed,graphic_card_size,weight
count,167.000000,167.00000,167.000000,167.000000,166.000000,81.000000,160.000000
mean,6.898204,768.91018,14.775210,64132.898204,2.321084,52.160494,2.250813
std,3.787479,392.99080,1.376526,42797.674010,0.554187,444.134142,0.648446
min,2.000000,32.00000,10.100000,13872.000000,1.100000,1.000000,0.780000
25%,4.000000,500.00000,14.000000,35457.500000,1.900000,2.000000,1.900000
50%,8.000000,1024.00000,15.600000,47990.000000,2.300000,2.000000,2.200000
75%,8.000000,1024.00000,15.600000,77494.500000,2.600000,4.000000,2.600000
max,16.000000,2048.00000,17.600000,226000.000000,3.800000,4000.000000,4.200000

In [ ]:
laptops_df.sort_values(by = 'price') #columns를 기준으로 정렬(오름차순)

In [14]:
laptops_df.sort_values(by= 'price',ascending= False) #내림차순

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

In [ ]:
laptops_df.sort_values(by= 'price',ascending = False, inplace= True) #기존에 데이터셋 자체를 정렬 시킴 
laptops_df

큰 data Frame 
series -> 1차원 -> 각 특징만 뽑아냄

In [ ]:
import pandas as pd
laptops_df = pd.read_csv("laptops.csv")
laptops_df['brand']

In [19]:
laptops_df['brand'].unique() #brand 에 값 종류가 뭐가 있는지 출력

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [20]:
laptops_df['brand'].value_counts() #brand에 종류가 각각 몇개씩 있는지

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [21]:
laptops_df['brand'].describe() #요약본 -> 갯수, 종류갯수, 제일 많이 나온 값의 종류, 제일 많이 나온 값

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

In [60]:
import pandas as pd
df = pd.read_csv("world_cities.csv")
df['Country']

0       Argentina
1       Australia
2       Australia
3       Australia
4       Australia
          ...
244           USA
245           USA
246    Uzbekistan
247       Vietnam
248      Zimbabwe
Name: Country, Length: 249, dtype: object

In [37]:
#df['City / Urban area'].describe()
#df['City / Urban area'].value_counts()
df['City / Urban area'].value_counts().shape

(249,)

In [39]:
#df['Country'].describe()
df['Country'].value_counts().shape

(61,)

In [42]:
df["Density"] = df["Population"] / df["Land area (in sqKm)"]
df_high_density = df[df['Density']> 10000]
df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
 5   Density              19 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.0+ KB

In [47]:
#df.sort_values('Density', ascending= False)
density_ranks = df.sort_values("Density", ascending= False) # density_ranks Density columns 에 대해서 내림차 순 한 것을 저장한 변수
density_ranks['City / Urban area'] # City / Urban area 에 대해서만 값을 보여줌

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
194        Chattanooga
223          Asheville
57                 Pau
220            Hickory
196    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

In [87]:
import pandas as pd
world_cities = pd.read_csv("world_cities_2.csv")
world_cities['Country'].value_counts()

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Israel           1
Kuwait           1
Malaysia         1
Netherlands      1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64

In [89]:
countries = world_cities["Country"].value_counts()
countries[countries == 4]

Italy    4
Name: Country, dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv("enrolment_1.csv")

df["status"] = 'allowed'
#c = (df['year'] == 1) & (df["course name"] ==  "information technology")
b = df["course name"] == "information technology"
c = df["year"] == 1

df.loc[b & c , "status"] = "not allowed" # df.loc 무조껀 붙여줘야됨!! 조건문 있을때 
df

In [ ]:
import pandas as pd
df = pd.read_csv("enrolment_1.csv")

df["status"] = 'allowed'
condition_1 = (df['year'] == 1) & (df["course name"] ==  "information technology") #course name == information technology && year == 1 
condition_2 = (df['course name'] == "commerce") & (df['year'] == 4) #course name == commerce && year == 4 

# or 연산 된다. 
df.loc[condition_1|condition_2 , "status"] = "not allowed" # df.loc 무조껀 붙여줘야됨!! 조건문 있을때 

allowed = df["status"] == "allowed" # allowed 들 중에서  
course_counts = df.loc[allowed,"course name"].value_counts() #allowed 이면서 coursename 종류별 갯수 

# 폐강 과목에 대한 리스트 확보
closed_counts = list(course_counts[course_counts < 5].index) # course_counts 들 중에서 5개 미만인 애들의 인덱스를 모아서 리스트로 만듦 

for course in closed_counts:
    df.loc[df["course name"] == course,"status"] = "not allowed" # course_name이 not allowed 과목과 같다면 status 에 "not allowed"로 수정
df

실습과제
100XP
수강 신청이 완료되었습니다. 이제 각 과목을 수강하는 학생수에 따라 크기가 다른 강의실을 배치하려고 합니다.

강의실은 규모에 따라 “Auditorium”, “Large room”, “Medium room”, “Small room” 총 4가지 종류가 있습니다.

아래 조건에 따라 강의실 종류를 지정해 주세요.

80명 이상의 학생이 수강하는 과목은 “Auditorium”에서 진행됩니다.
40명 이상, 80명 미만의 학생이 수강하는 과목은 “Large room”에서 진행됩니다.
15명 이상, 40명 미만의 학생이 수강하는 과목은 “Medium room”에서 진행됩니다.
5명 이상, 15명 미만의 학생이 수강하는 과목은 “Small room”에서 진행됩니다.
폐강 등의 이유로 status가 “not allowed”인 수강생은 room assignment 또한 “not assigned”가 되어야 합니다.

In [ ]:
import pandas as pd

df = pd.read_csv('enrolment_2.csv')

#과목별 인원 가져오기
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed , "course name"].value_counts() 

#리스트 생성 (해당 조건에 만족하는)
Auditorium_list = list(course_counts[course_counts >= 80].index) 
large_room_list  = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts >4)].index)

#not assigned 할당  
#status에서 not allowed 친구들 찾기
#not allowed인 애들을 room assignment 에 not assigned 로 수정 
not_allowed = df["status"] == "not allowed"
df.loc[not_allowed,"room assignment"] = "not assigned"

#allowed 과목에 대해 값 지정하기
for course in Auditorium_list:
    df.loc[(df["course name"] == course) & allowed,"room assignment"] =  "Auditorium"
for course in large_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Large room"
for course in medium_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Medium room"
for course in small_room_list:
    df.loc[(df["course name"]== course) & allowed, "room assignment"] = "Small room"

df

이전 과제에서 강의실 크기에 따라 room assignment column을 만들어 주었습니다.

이제 이 room assignment에 따라 강의실 이름을 붙여주려고 합니다.

아래 세 가지 조건을 만족하도록 코드를 작성하세요.

같은 크기의 강의실이 필요한 과목에 대해 알파벳 순서대로 방 번호를 배정하세요. 예를 들어 "Auditorium"이 필요한 과목으로 “arts”, “commerce”, “science” 세 과목이 있다면, “arts”는 “Auditorium-1”, “commerce”는 “Auditorium-2”, “science”는 “Auditorium-3” 순서로 방 배정이 되어야 합니다. 방 번호에 room 은 포함되지 않습니다. 아래 스크린샷을 참고하여 작성해주세요.
status column이 “not allowed”인 수강생은 room assignment column을 그대로 “not assigned”로 남겨둡니다. "not allowed" 인 수강생의 room assignment 상태가 변경되지 않도록 유의해주세요.
room assignment column의 이름을 room number로 바꿔주세요.

In [10]:
import pandas as pd

df = pd.read_csv("enrolment_3.csv")

allowed = df["status"] == "allowed"
course_counts = df.loc[allowed,"course name"].value_counts()

auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list  = list(course_counts[(course_counts < 80) & (course_counts >=40 )].index)
medium_room_list = list(course_counts[(course_counts < 40) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(course_counts < 15) & (course_counts >=5)].index)


for i in range(len(auditorium_list)):
    # 이름 알파벳 순 정렬
    # auditorium_list[0] -> Auditorium-0
    # auditorium_list[1] -> Auditorium-1
    # auditorium_list[2] -> Auditorium-2
    df.loc[(df["course name"] == sorted(auditorium_list)[i]) & allowed, "room assignment"] = "Auditorium-" + str(i + 1)

for i in  range(len(large_room_list)):
    df.loc[(df["course name"] == sorted(large_room_list)[i]) & allowed, "room assignment"] = "Large-" + str(i + 1)

for i in range(len(medium_room_list)):
    df.loc[(df["course name"] == sorted(medium_room_list)[i]) & allowed, "room assignment"] = "Medium-" + str(i + 1)
for i in range(len(small_room_list)):
    df.loc[(df["course name"]== sorted(small_room_list)[i]) & allowed, "room assignment"] = "Small-" + str(i+ 1)
df.rename(columns={"room assignment": "room number"})

           id  year           course name   status   room number
0     2777729     1               science  allowed  Auditorium-3
1     2777730     2               science  allowed  Auditorium-3
2     2777765     1                  arts  allowed  Auditorium-1
3     2777766     2                  arts  allowed  Auditorium-1
4     2777785     1                   mba  allowed      Small-34
...       ...   ...                   ...      ...           ...
1995  2796805     3  computer application  allowed      Medium-7
1996  2796812     1               nursing  allowed     Medium-22
1997  2796813     2               nursing  allowed     Medium-22
1998  2796814     3               nursing  allowed     Medium-22
1999  2796815     4               nursing  allowed     Medium-22

[2000 rows x 5 columns]